[class$="store"] .sort_list .dropdown {
  width: 100%;
  min-width: 140px;
  max-height: 144px;
  padding: 8px 16px 16px;
  background-color: #fff;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  vertical-align: top;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  display: none;
}

[class$="store"] .store_search{
  margin: 20px 0;
}

[class$="store"] .store_map{
  margin: 20px 0;
}