@charset "utf-8";

.prd_list {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}

.prd_list>li {
  width: 25%;
  min-width: 25%;
  padding-left: 20px;
  padding-bottom: 40px;
}

.item .thumbnail {
  width: 100%;
  margin-bottom: 16px;
}

.item .thumbnail a {
  border-radius: 10px;
  display: block;
}

.item .thumbnail a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

.item .desc {
  font-size: 15px;
}

.item .desc .review {
  padding: 3px 0;
  font-size: 13px;
}

.item .desc .price {
  font-weight: bold;
  color: var(--main-color1);
}