@charset "utf-8";

:not([class*="visual"]) .heading {
  margin-bottom: 40px;
}

:not([class*="visual"]) .heading [class^="tit"] {
  font-size: 30px;
}

:not([class*="visual"]) .heading [class^="sub"] {
  margin-bottom: 8px;
  font-size: 14px;
  display: block;
}

:not([class*="visual"]) .heading [class^="desc"] {
  margin-top: 30px;
}

.main__res_mz {
  background-color: #deddd9;
}

.main__res_mz .heading .sub {
  margin-bottom: 30px;
}

.main__res_store {
  background-color: #f6f6f7;
}

.main__promo .banner {
  display: flex;
  gap: 40px;
}

.main__promo .banner a {
  border-radius: 22px;
  overflow: hidden;
  display: block;
}

.main__promo .notice {
  padding: 34px 136px 38px 104px;
  margin-top: 40px;
  background-color: var(--main-color1);
  color: #fff;
  position: relative;
  border-radius: 10px;
}

.main__promo .notice .swiper-slide {
  height: auto !important;
}
.main__promo .notice .swiper-slide a {
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.main__promo .notice b {
  margin-top: -12px;
  position: absolute;
  top: 50%;
  left: 40px;
  font-weight: 500;
}

.main__promo .notice .tit {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__promo .notice .btn_link {
  margin-top: -12px;
  position: absolute;
  top: 50%;
  right: 40px;
}
