@charset "utf-8";

[class^="main__"]:not([class*="visual"]) .heading {
  margin-bottom: 40px;

  [class^="tit"] {
    font-size: 30px;
  }

  [class^="sub"] {
    margin-bottom: 12px;
    font-size: 14px;
    display: block;
  }

  [class^="desc"] {
    margin-top: 30px;
  }
}

.main__visual {
  height: 100vh;
  min-height: 920px;
  position: relative;
  overflow:hidden;
  .visual_cont {
    .swiper_visual { overflow:visible;
      .swiper-slide { height:720px; text-align:right; position:relative;
        .item { width:320px; height:720px; position:absolute; right:0; bottom:0; transition:.85s ease;
          .smooth { position:absolute; right:0; bottom:0; left:0;
            * { opacity:0; transition:.25s ease; }
            .info { text-align:left; position:absolute; top:-80px; left:-300px; /*left:-212px;*/
              .badge { line-height:1; font-size:14px; color:var(--bk-color2); display:block; }
              .name { max-width:240px; margin:12px 0 16px; line-height:1.48; font-size:30px; font-weight:600; color:var(--main-color1); word-break:keep-all; }
              .desc { max-width:320px; line-height:1.52; font-size:18px; color:var(--bk-color2); word-break:keep-all; }
              a { width:120px; /*width:154px;*/ padding:9px 24px 10px; margin-top:60px; background:var(--main-color1) url("../images/arrow_btn.png")no-repeat center right 20px/10px; color:#fff; border-radius:8px; letter-spacing:0; transition:.15s ease; }
            }
            .thumb { position:relative;
              &::before { content:''; width:220px; height:220px; background-color:rgba(255,255,255,.1); background:#f6f5f0 url("../images/visual_itemBg.png")no-repeat center/contain; backdrop-filter:blur(4px); position:absolute; top:50px; left:50px; z-index:-1; border-radius:50%; display:block; }
              img { width:100%; aspect-ratio:1/1; }
              .idx { font-size:16px; font-weight:600; color:var(--bk-color2); position:absolute; bottom:40px; left:0; }
            }
          }
        }
  
        &[class*="-active"] {
          .item { width:640px; right:-300px;
          // .item { width:640px; right:-212px;
            .smooth {
              * { opacity:1; }
              .thumb {
                &::before { opacity:0; }
                .idx { font-size:22px; color:var(--main-color1); }
              }
            }
          }
        }
  
        &[class*="-next"]{
          .smooth {
            *:not(.info) { opacity:1; }
          }
        }
      }
    }
  }

  .split {
    width: 100%;
    font-family: var(--font-mont);
    font-size: 120px;
    font-size: 170px;
    font-weight: 900;
    color: #eee;
    position: absolute;
    bottom: calc(0vh + 160px);
    z-index: -1;
    letter-spacing: 14px;
    white-space: nowrap;
    user-select: none;
    
    &:not(:has(.char)){
      opacity:0;
      display:none;
    }

    >.line {
      text-align: center !important;
      display: none;
    }

  }
}

// body:not(:has(.modal_load)) { background-color:red;
//   .main__visual {
//     .swiper-slide {
//       .info {
//         * { opacity:0; transform:translateY(-32px); transition:.5s ease; }
//         .badge { transition-delay: 1s; }
//         .name { transition-delay: 1.5s; }
//         .desc { transition-delay: 2s; }
//         a { transition-delay: 2.5s; }
//       }
//       &[class*="-active"] {
//         .info { 
//           * { opacity:1; transform:translateY(0); }
//          }
//         .smooth {
//          }
//         // .smooth { * { opacity:1; transform:none; } }
//       }
//     }

//   }
// }

.main__banner {
  a {
    width: 100%;
    height: 496px;
    background: transparent url("../images/main_banner.png") no-repeat center/cover;
    display:block;
  }

  // img {
  //   width: 100%;
  //   object-fit: cover;
  // }
}

.main__prd .btn_link {
  width: 40px;
  line-height: 40px;
  margin: 20px auto 0;
  background: transparent url("../images/btn_more.png") no-repeat (center / contain);
  font-size: 0;
  border-radius: 50px;
  overflow: hidden;
  display: block;

  &:hover {
    background-image: url("../images/btn_more_active.png");
    transition: 0.35s ease;
  }
}


.main__res_mz {
  background-color: #deddd9;
  position: relative;
  overflow: hidden;

  .heading .sub {
    margin-bottom: 30px;
  }

  .reserve_star_img {
    width: 122px;
    height: 145.9px;
    margin-bottom: 94px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .res_mz {
    height: 100%;
    padding: 100px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);

    ::-webkit-scrollbar {
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      background: #fff;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--main-color4);
      border-radius: 4px;
    }

    .megazine {
      height: 100%;
      display: flex;
      gap: 14px;
      overflow-x: scroll;
      max-width: 1082px;

      .mzImg {
        width: 320px;
        height: 320px;
        border-radius: 10px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }

  }
}

.main__res_store {
  background-color: #f6f6f7;
}

.main__event {
  .swiper_event {
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: linear;

      .swiper-slide {
        width: 290px;

        a {
          display: block;

          .thumb {
            width: 290px;
            height: 290px;
            background-color: #f9f9f9;

            img {
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }

          .info {
            margin-top: 20px;

            .tit {
              font-size: 18px;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .date {
              font-size: 13px;
              color: var(--bk-color2);
            }
          }
        }
      }
    }
  }
}

.main__promo {
  .banner {
    display: flex;
    gap: 40px;

    a {
      border-radius: 22px;
      overflow: hidden;
      display: block;
    }
  }

  .notice {
    padding: 34px 136px 38px 104px;
    margin-top: 40px;
    background-color: var(--main-color1);
    color: #fff;
    position: relative;
    border-radius: 10px;

    .swiper-slide {
      height: auto !important;

      a {
        line-height: 28px;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
      }
    }

    b {
      margin-top: -12px;
      position: absolute;
      top: 50%;
      left: 40px;
      font-weight: 500;
    }

    .tit {
      max-width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn_link {
      margin-top: -12px;
      position: absolute;
      top: 50%;
      right: 40px;
    }
  }
}