.menu_category {
  width: 100%;
  height: 54px;
  margin-bottom: 60px;
  border-top: 1px solid var(--br-color1);
  border-bottom: 1px solid var(--br-color1);
}

.menu_category + .menu_category {
  margin-top: -60px;
  border-top: 0;
}

.menu_category .cate_list {
  height: 100%;
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 16px;
  color: var(--bk-color2);
}

.menu_category.depth {
  background-color: var(--bg-color2);
}

.menu_category .active {
  color: var(--main-color1);
  font-weight: 500;
}

.menu_category.depth .active {
  color: var(--bk-color1);
}
