@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

:root {
  --main-color1: #007042;
  --main-color2: #d4e9e2;
  --main-color3: #55443a;
  --main-color4: #2c2a2a;
  --bk-color1: #222;
  --bk-color2: #666;
  --bk-color3: #999;
  --br-color1: #eee;
  --br-color2: #ccc;
  --bg-color1: #fafafa;
  --bg-color2: #f9f9f9;
  --err-color: #db0632;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--bk-color1);
  background-color: #fff;
  letter-spacing: -0.5px;
}

html,
body {
  min-width: 1320px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 46px;
  padding: 0 24px;
  background-color: var(--bg-color1);
  font-size: 14px;
  font-weight: 400;
  color: var(--bk-color1);
  border: 1px solid var(--br-color1);
  border-radius: 6px;
  letter-spacing: -0.5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="text"][disabled] {
  color: var(--bk-color2);
  border: 0;
}

input:focus {
  border: 1px solid var(--bk-color2);
  transition: 0.15s ease;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input::placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

textarea {}

select {
  width: 100%;
  height: 46px;
  padding: 0 24px;
  background: transparent url("../images/arrow_select.png") no-repeat top 14px right 24px / 14px auto;
  border: 1px solid var(--br-color1);
  border-radius: 6px;
  letter-spacing: -0.5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-drag: none;
  -ms-touch-select: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  font-family: inherit;
  background: inherit;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

.guideItem {
  margin-bottom: 80px;
}

.guideTitle {
  margin-top: 60px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color1);
}

.guideTitle::before {
  content: "";
  display: inline-block;
}

header {
  padding: 13px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  border-bottom: 1px solid var(--br-color1);
}

header .h_flex {
  display: flex;
  justify-content: space-between;
}

header .btn_hamburger {
  /* 선으로 수정 > 트랜지션 */
  width: 24px;
  height: 24px;
  background: transparent url("../images/header_hamburger.png") no-repeat center/cover;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  vertical-align: middle;
  margin-right: 32px;
}

header h1,
.starbucks_logo {
  vertical-align: middle;
  display: inline-block;
}

header h1 a,
.starbucks_logo a {
  width: 228px;
  height: 50px;
  background: transparent url("../images/logo_header.png") no-repeat center/contain;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  display: block;
}

.h_menu {
  width: 21px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.layout_fix {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

#contents {
  padding-top: 156px;
  padding-bottom: 100px;
}

.displaynone {
  display: none;
}

/* ===== COMPONENTS */
.flex_items:has(input[type="text"]) {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn_primary {
  display: flex;
  gap: 8px;
}

.btn_primary.column {
  flex-direction: column;
}

.btn_dark {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: var(--main-color1);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 1px solid var(--main-color1);
  border-radius: 6px;
}

.btn_light {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color1);
  border: 1px solid var(--main-color1);
  border-radius: 6px;
}

.btn_basic {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: var(--bk-color2);
  border: 1px solid var(--bk-color2);
  border-radius: 6px;
}

.btn_strong {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: var(--bk-color2);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 1px solid var(--bk-color2);
  border-radius: 6px;
}

.btn_normal {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: var(--bk-color1);
  border: 1px solid var(--br-color1);
  border-radius: 6px;
}

.mg_list>li+li {
  margin-top: 20px;
}

.prd_list {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}

.prd_list>li {
  width: 25%;
  min-width: 25%;
  padding-left: 20px;
  margin-bottom: 40px;
}

.login_input {
  width: 400px;
  height: 60px;
  position: relative;
  margin-bottom: 16px;
}

.login_input input {
  width: 100%;
  height: 100%;
  padding-left: 125px;
  background-color: var(--bg-color2);
  border: 1px solid var(--br-color2);
  border-radius: 10px;
  position: absolute;
  color: var(--bk-color3, #999);
  font-size: 14px;
  font-weight: 350;
}

.login_input h5 {
  height: 100%;
  padding: 20px 0 20px 24px;
  position: absolute;

  color: var(--bk-color2, #666);
  font-size: 12px;
  font-weight: 500;
}

footer {
  height: auto;
  background-color: #fff;
}

.f_quick_menu {
  display: flex;
}

.f_quick_menu button {
  width: 320px;
  height: 54px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-color1);
}

.f_quick_menu:nth-child(1),
.f_quick_menu:nth-child(2) {
  border-right: none;
}

.f_quick_menu button a {
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  color: var(--Starbucks-bk-color1, #222);
}

.f_quick_menu button svg {
  margin-left: 170px;
}

.f_content {
  margin: 40px 0 50px 0;
}

.f_logo_sns {
  margin-bottom: 20px;
}

.f_logo_sns h1 {
  padding: 10px;
}

.f_logo_sns .f_sns {
  height: 70px;
  padding: 19.5px 12px;
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.f_info {
  width: 100%;
  padding-right: 710px;
  margin-bottom: 20px;
}

.f_info span {
  display: inline-block;
  margin-right: 18px;
  color: var(--bk-color3);
  font-size: 12px;
  font-weight: 400;
}

.f_info span:first-child {
  color: var(--bk-color1);
}

.f_copy_plus {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 22.5px;
}

.f_copy {
  width: 100%;
  display: inline-block;
  color: var(--bk-color2, #666);
}

.f_plus {
  width: 100%;
}

.f_plus button {
  color: var(--bk-color1, #222);
  margin-right: 20px;
}

.f_plus_left {
  width: 50%;
  display: inline-block;
}

.f_plus .f_plus_color {
  color: var(--main-color1, #006241);
  font-weight: 500;
}

.f_plus_right {
  float: right;
}