@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

:root {
  --main-color1: #007042;
  --main-color2: #d4e9e2;
  --main-color3: #55443a;
  --main-color4: #2c2a2a;
  --bk-color1: #222;
  --bk-color2: #666;
  --bk-color3: #999;
  --br-color1: #eee;
  --br-color2: #ccc;
  --bg-color1: #fafafa;
  --bg-color2: #f9f9f9;
  --err-color: #db0632;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--bk-color1);
  background-color: #fff;
  letter-spacing: -0.5px;
}

html,
body {
  min-width: 1320px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 46px;
  padding: 0 24px;
  background-color: var(--bg-color1);
  font-size: 14px;
  font-weight: 400;
  color: var(--bk-color1);
  border: 1px solid var(--br-color1);
  border-radius: 6px;
  letter-spacing: -.5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="text"][disabled] {
  color: var(--bk-color2);
  border: 0;
}

input:focus {
  border: 1px solid var(--bk-color2);
  transition: 0.15s ease;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input::placeholder {
  font-weight: 400;
  color: var(--bk-color3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

textarea {}

select {
  width: 100%;
  height: 46px;
  padding: 0 24px;
  background: transparent url("./images/arrow_select.png") no-repeat top 14px right 24px / 14px auto;
  /* background: transparent url("../images/arrow_select.png") no-repeat top 14px right 24px / 14px auto; */
  border: 1px solid var(--br-color1);
  border-radius: 6px;
  letter-spacing: -.5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-drag: none;
  -ms-touch-select: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  font-family: inherit;
  background: inherit;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

.displaynone {
  display: none !important;
}

#main {
  padding-top: 77px;
}

#container {
  padding-top: 157px;
  padding-bottom: 100px;
}

#main section:not([class*="banner"]) {
  padding: 100px 0;
}

.layout_fix {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

footer {
  background-color: #fff;
  border-top: 1px solid var(--br-color1);
}

footer .menu_corp .layout_fix {
  display: flex;
}

footer .menu_corp a {
  width: 320px;
  height: 54px;
  padding: 0 25px;
  line-height: 54px;
  position: relative;
  border-right: 1px solid var(--br-color1);
  display: block;
}

footer .menu_corp a::after {
  content: "+";
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 17px;
  right: 25px;
}

footer .menu_corp a:first-child {
  border-left: 1px solid var(--br-color1);
}

footer .fnb {
  padding: 50px 0;
  border-top: 1px solid var(--br-color1);
}

footer .logo_sns {
  position: relative;
}

footer .sns {
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
}

footer .sns a {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  vertical-align: middle;
  display: inline-block;
}

footer .sns .insta {
  background-image: url("./images/f_sns1.png");
}

footer .sns .youtube {
  background-image: url("./images/f_sns2.png");
}

footer .sns .x {
  background-image: url("./images/f_sns3.png");
}

footer .sns .facebook {
  background-image: url("./images/f_sns4.png");
}

footer .sns .blog {
  background-image: url("./images/f_sns5.png");
}

footer .biz {
  width: 100%;
  padding-right: 710px;
  margin-top: 30px;
  margin-bottom: 20px;
}

footer .biz span {
  display: inline-block;
  margin-right: 18px;
  color: var(--bk-color3);
  font-size: 12px;
  font-weight: 400;
}

footer .biz span:first-child {
  color: var(--bk-color1);
}

footer .copyright {
  width: 100%;
  line-height: 28px;
  font-size: 12px;
  color: var(--bk-color2);
  display: inline-block;
}

footer .link {
  width: 100%;
  line-height: 22px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

footer .link button {
  margin-right: 20px;
  color: var(--bk-color1);
}

footer .link>div:last-child button {
  margin-right: 0;
  margin-left: 20px;
}

footer .link b {
  font-weight: 500;
  color: var(--main-color1);
}

/* COMPONENTS */
/* ===== BUTTON */
.flex_items:has(input[type="text"]) {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn_primary {
  display: flex;
  gap: 8px;
}

.btn_primary.column {
  flex-direction: column;
}

.btn_dark {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: var(--main-color1);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 1px solid var(--main-color1);
  border-radius: 6px;
}

.btn_light {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color1);
  border: 1px solid var(--main-color1);
  border-radius: 6px;
}

.btn_basic {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: var(--bk-color2);
  border: 1px solid var(--bk-color2);
  border-radius: 6px;
}

.btn_strong {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: var(--bk-color2);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 1px solid var(--bk-color2);
  border-radius: 6px;
}

.btn_normal {
  width: 100%;
  padding: 14px 8px 16px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: var(--bk-color1);
  border: 1px solid var(--br-color1);
  border-radius: 6px;
}

.pagination {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 15px;
  color: var(--bk-color2);
}

.pagination button.active {
  color: var(--main-color1);
  font-weight: 600;
}

/* ===== .heading */
[class^="heading"] {
  margin-bottom: 60px;
}

:where(#container) [class^="heading"] {
  display: flex;
  align-items: center;
}

[class^="heading"]:has(.path){
  align-items: baseline;
  flex-direction: column;
}

.heading [class^="tit"] {
  line-height: 1;
  font-size: 30px;
  font-weight: 400;
  color: var(--bk-color1);
}

.heading [class^="tit"][class$="-em"] {
  color: var(--main-color1);
}

.heading [class^="sub"] {
  color: var(--bk-color2);
}

.heading [class^="sub"][class$="-light"] {
  color: var(--bk-color3);
}

.heading [class^="desc"] {
  color: var(--bk-color1);
}

.heading [class^="desc"][class$="-light"] {
  color: var(--bk-color2);
}

[class*="search_"]:has(.btn_search) {
  margin-left:auto;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid var(--br-color1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  transition: .35s ease;
}

[class*="search_"]:has(.btn_search).active {
  width: 200px;
  border-color: var(--bk-color3);
}

[class*="search_"]:has(.btn_search) input {
  height: 38px;
  padding: 0;
  background-color: #fff;
  font-size: 13px;
  opacity: 0;
  border: 0;
  visibility: hidden;
  flex: 0;
  transition: flex .35s ease;
}

[class*="search_"]:has(.btn_search).active input{
  padding: 0 4px 2px 16px;
  opacity: 1;
  visibility: visible;
  flex: 1;
}

[class*="search_"]:has(.btn_search) .btn_search {
  width: 40px;
  min-width: 40px;
  margin-left: auto;
  font-size: 0;
  background: #fff url("./images/header_menu1.png") no-repeat 14px 10px / auto 16px;
}

.heading .path {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 13px;
  color: var(--bk-color3);
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading .path .home a {
  width: 16px;
  height: 16px;
  font-size: 0;
  background: transparent url("./images/icon_path.png")no-repeat center/contain;
  vertical-align: middle;
}

.heading .path .home a:hover {
  filter: brightness(0.6);
}

.heading .path li+li::before {
  content: '';
  width: 12px;
  height: 8px;
  margin-right: 10px;
  background: transparent url("./images/arrow_path.png")no-repeat center -1px/contain;
  display: inline-block;
}

/* ===== TAB */
.heading_tab{
  margin-bottom: 40px;
}

.tab_rect p {
  padding: 10px 15px 12px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 8px;
  color: var(--bk-color2);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.tab_rect .active {
  background-color: var(--main-color1);
  color: #fff;
  font-weight: 500;
}

/* ===== LIST */
.mg_list>li+li {
  margin-top: 20px;
}

.sort_list {
  margin-left: 32px;
  display: flex;
  gap: 24px;
}

.sort_list > li {
  font-size: 16px;
  position: relative;
}

.sort_list label {
  margin-right: 12px;
  color: var(--bk-color2);
  vertical-align: top;
  display: inline-block;
}

.sort_list label + a {
  padding-right: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.sort_list label + a::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  border: 4px solid transparent;
  border-top: 4px solid var(--bk-color1);
}

.sort_list label + a.active::after {
  top: 6px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sort_list .dropdown {
  width: 100%;
  max-height: 144px;
  padding: 8px 16px 16px;
  background-color: #fff;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  vertical-align: top;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  display: none;
}

.sort_list a.active + .dropdown {
  display: inline-block;
  animation: slideDown 0.3s ease forwards;
}

.sort_list .dropdown.closing {
  animation: slideUp 0.2s ease forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 1;
  }

  to {
    max-height: 144px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 144px;
    opacity: 0;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.sort_list .dropdown::-webkit-scrollbar {
  width: 6px;
}

.sort_list .dropdown::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
  border: 4px solid var(--br-color1);
  border-radius: 12px;
}

.sort_list .dropdown li {
  margin-top: 8px;
  font-size: 15px;
}

.sort_list .dropdown li a:hover {
  text-decoration: underline;
}


/* SELECTION/SCROLLBAR */
::selection {
  background-color: var(--main-color1);
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  width: 12px;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  width: 12px;
  border-radius: 50%;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--br-color2);
}

:not(body)::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 0;
  background-color: transparent;
}

:not(body)::-webkit-scrollbar-button {
  display: none;
}

:not(body)::-webkit-scrollbar-track {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

:not(body)::-webkit-scrollbar-corner {
  width: 3px;
  border-radius: 50%;
  background-color: transparent;
}

:not(body)::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--br-color2);
}