/* === category */
.menu_category {
  width: 100%;
  margin-bottom: 60px;
  border-top: 1px solid var(--br-color1);
  border-bottom: 1px solid var(--br-color1);
}

.menu_category+.menu_category {
  margin-top: -60px;
  border-top: 0;
}

.menu_category .layout_fix {
  position: relative;
}

.menu_category .cate_list {
  height: 60px;
  padding-bottom: 4px;
  font-size: 15px;
  color: var(--bk-color2);
  display: flex;
  align-items: center;
  gap: 18px;
}

.menu_category .cate_list a[href="/menu/coffee?cate=3"]::before{
  content:'앳홈 by ';
}

.menu_category.depth {
  background-color: var(--bg-color2);
}

.menu_category .active {
  color: var(--main-color1);
  font-weight: 500;
}

.menu_category.depth .active {
  color: var(--bk-color1);
}

.menu_category .search_prd {
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 20px;
}
